<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update my Car</title>
</head>
<body>


<form action="/upd/" th:object="${car}" method="post" >

    <input type="text" name="brand" th:value="${car.getBrand()}">
    <input type="text" name="model" th:value="${car.getModel()}">
    <input type="text" name="power" th:value="${car.getPower()}">
    <input type="text" name="plate" th:value="${car.getPlate()}">

    <button class="btn btn-sm btn-success" type="submit">update</button>
</form>


</body>
</html>